<div class="auth-box surface-card w-screen p-5 pt-6 sm:p-7 fadein">
    <app-form-header
        imageUrl="./assets/images/undraw_recover_password.svg"
        imageStyleClass="w-5"
        [header]="authRoutesNames.RECOVER_PASSWORD.label"
        subHeader="We'll send you a link on your email to reset your password."
    ></app-form-header>
    <form [formGroup]="recoverForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="field">
            <label for="password" class="text-900 block">New Password</label>
            <div class="p-input-icon-left p-input-icon-right">
                <i class="pi pi-lock"></i>
                <input
                    type="{{ displayPassword ? 'text' : 'password' }}"
                    formControlName="password"
                    id="password"
                    pInputText
                    class="w-full"
                    (focus)="op.toggle($event)"
                    (blur)="op.toggle($event)"
                />
                <i
                    class="pi pi-{{
                        displayPassword ? 'eye-slash' : 'eye'
                    }} cursor-pointer"
                    title="{{ displayPassword ? 'Hide' : 'Show' }} password"
                    (click)="showHidePassword()"
                ></i>
            </div>
            <p-overlayPanel #op>
                <strong class="mt-2">Good passwords must have</strong>
                <p-divider></p-divider>
                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                    <li>At least one lowercase</li>
                    <li>At least one UPPERCASE</li>
                    <li>At least 1 numeric</li>
                    <li>Minimum 8 characters</li>
                </ul>
            </p-overlayPanel>

            <small
                *ngIf="formControls['password'] | formControlInvalid"
                class="p-error"
            >
                <ng-container
                    *ngIf="formControls['password'].hasError('required')"
                >
                    Password is required.
                </ng-container>
                <ng-container
                    *ngIf="formControls['password'].hasError('minlength')"
                >
                    Password must have at least 8 characters
                </ng-container>
            </small>
        </div>

        <div class="field">
            <label for="confirmPassword" class="text-900 block"
                >Confirm New Password</label
            >
            <div class="p-input-icon-left p-input-icon-right">
                <i class="pi pi-lock"></i>
                <input
                    type="{{ displayPassword ? 'text' : 'password' }}"
                    formControlName="confirmPassword"
                    id="confirmPassword"
                    pInputText
                    class="w-full"
                />
                <i
                    class="pi pi-{{
                        displayPassword ? 'eye-slash' : 'eye'
                    }} cursor-pointer"
                    title="{{ displayPassword ? 'Hide' : 'Show' }} password"
                    (click)="showHidePassword()"
                ></i>
            </div>

            <small
                *ngIf="
                    recoverForm.getError('mismatch') &&
                    recoverForm.get('confirmPassword')?.touched
                "
                class="p-error"
            >
                Passwords do not match.
            </small>
        </div>

        <button
            pButton
            label="Recover My Password"
            iconPos="right"
            icon="pi {{ recoverForm.invalid ? '' : 'pi-chevron-right' }}"
            class="w-full mt-5"
            [loading]="isSubmitted"
            [disabled]="recoverForm.invalid"
        ></button>
    </form>
</div>
