<div
    class="surface-card w-screen sm:w-full h-screen sm:h-auto p-5 sm:p-6 fadein"
>
    <div *ngIf="!wasRecoverSended" class="fadein">
        <form
            [formGroup]="recoverForm"
            (ngSubmit)="onSubmit()"
            autocomplete="off"
        >
            <app-form-header
                imageUrl="/assets/images/undraw_forgot_password.svg"
                imageStyleClass="w-8"
                [header]="authRoutesNames.RECOVER_PASSWORD.label"
                subHeader="We'll send you a link on your email to reset your password."
            ></app-form-header>

            <div class="field">
                <label for="username" class="text-900">Email address</label>
                <div class="p-input-icon-left">
                    <i class="pi pi-envelope"></i>
                    <input
                        type="email"
                        formControlName="username"
                        id="username"
                        pInputText
                        class="w-full"
                    />
                </div>
                <small
                    *ngIf="formControls['username'] | formControlInvalid"
                    class="p-error"
                >
                    <ng-container
                        *ngIf="formControls['username'].hasError('required')"
                    >
                        Email is required.
                    </ng-container>
                    <ng-container
                        *ngIf="formControls['username'].hasError('email')"
                    >
                        Invalid email format.
                    </ng-container>
                </small>
            </div>

            <button
                pButton
                label="Recover My Password"
                iconPos="right"
                icon="pi {{ recoverForm.invalid ? '' : 'pi-chevron-right' }}"
                class="w-full mt-5"
                [loading]="isSubmitted"
                [disabled]="recoverForm.invalid"
            ></button>
        </form>

        <app-form-footer
            highlighText="I remembered my password."
            urlText="Return to Sign In"
            [url]="authRoutesNames.SIGNIN.url"
        ></app-form-footer>
    </div>

    <div *ngIf="wasRecoverSended" class="fadein animation-duration-500">
        <app-form-header
            imageUrl="/assets/images/undraw_recover_success.svg"
            imageStyleClass="w-5"
            [header]="
                'Recover Password email sent<br /> to ' +
                formControls['username'].value
            "
            subHeader="Verify your inbox. If is not there try the spam folder."
        ></app-form-header>
    </div>
</div>
