<!-- 
    Full-width small than 576; Center until 992; Left side beyond that
    class="flex justify-content-center align-items-center mx-auto lg:surface-section lg:m-0 relative z-1 min-h-screen w-full max-w-xm"
 -->

<div class="flex min-h-screen">
    <div
        class="flex justify-content-center align-items-center mx-auto relative z-1 min-h-screen w-full max-w-xm"
    >
        <router-outlet></router-outlet>
    </div>

    <div class="fixed z-0 min-h-screen w-full bg-primary"></div>
</div>
