<!-- <app-form-header
    imageUrl="/assets/images/logo_smartcheckup.png"
    imageStyleClass="w-5"
    header="{{ authRoutesNames.SIGNUP.label }} here!"
></app-form-header> -->
<picture class="flex flex-column align-items-center">
    <source
        class="w-6 mx-auto mb-4 min-w-xx"
        media="(max-width: 576px)"
        srcset="/assets/images/logo_smartcheckup_h.png"
    />
    <img
        class="w-7 mx-auto mb-4 border-circle p-5 bg-white"
        src="/assets/images/logo_smartcheckup.png"
        alt="Logo Smartcheckup"
    />
</picture>
<div class="auth-box surface-card w-screen p-5 pt-6 sm:p-7 fadein">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="field">
            <label for="name" class="text-900">Name</label>
            <div class="p-input-icon-left">
                <i class="pi pi-user"></i>
                <input
                    type="text"
                    formControlName="name"
                    id="name"
                    pInputText
                    class="w-full"
                />
            </div>
            <small
                *ngIf="
                    (formControls['name'] | formControlInvalid) &&
                    formControls['name'].hasError('required')
                "
                class="p-error"
            >
                Name is required.
            </small>
        </div>

        <div class="field">
            <label for="username" class="text-900">Email address</label>
            <div class="p-input-icon-left">
                <i class="pi pi-envelope"></i>
                <input
                    type="email"
                    formControlName="username"
                    id="username"
                    pInputText
                    class="w-full"
                />
            </div>
            <small
                *ngIf="formControls['username'] | formControlInvalid"
                class="p-error"
            >
                <ng-container
                    *ngIf="formControls['username'].hasError('required')"
                >
                    Email is required.
                </ng-container>
                <ng-container
                    *ngIf="formControls['username'].hasError('email')"
                >
                    Invalid email format.
                </ng-container>
            </small>
        </div>

        <div class="field mb-2 relative">
            <label for="password" class="text-900 block">Password</label>
            <div class="p-input-icon-left p-input-icon-right">
                <i class="pi pi-lock"></i>
                <input
                    type="{{ displayPassword ? 'text' : 'password' }}"
                    formControlName="password"
                    id="password"
                    pInputText
                    class="w-full"
                    (focus)="op.toggle($event)"
                    (blur)="op.toggle($event)"
                />
                <i
                    class="pi pi-{{
                        displayPassword ? 'eye-slash' : 'eye'
                    }} cursor-pointer"
                    title="{{ displayPassword ? 'Hide' : 'Show' }} password"
                    (click)="showHidePassword()"
                ></i>
            </div>
            <p-overlayPanel #op>
                <strong class="mt-2">Good passwords must have</strong>
                <p-divider></p-divider>
                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                    <li>At least one lowercase</li>
                    <li>At least one UPPERCASE</li>
                    <li>At least 1 numeric</li>
                    <li>Minimum 8 characters</li>
                </ul>
            </p-overlayPanel>
        </div>

        <button
            pButton
            label="Register"
            iconPos="right"
            class="w-full mt-5"
            [loading]="isSubmitted"
            [disabled]="signUpForm.invalid"
        ></button>
    </form>

    <app-form-footer
        highlighText="Already have an account?"
        urlText="Sign In here"
        [url]="authRoutesNames.SIGNIN.url"
    ></app-form-footer>
</div>
