<div class="card">
    <h4 class="">Lista de Usuários</h4>

    <p-table
        [value]="products"
        [paginator]="true"
        [rows]="10"
        responsiveLayout="scroll"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Exibindo {first} a {last} do total de {totalRecords}"
        [rowHover]="true"
        dataKey="id"
    >
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <div
                    class="flex justify-content-center flex-column sm:flex-row"
                >
                    <span class="p-input-icon-left mb-2 mr-2">
                        <i class="pi pi-search"></i>
                        <input
                            pInputText
                            type="text"
                            #filter
                            placeholder="Pesquisar"
                            class="w-full"
                        />
                    </span>

                    <button
                        pButton
                        label="Limpar"
                        class="p-button-outlined mb-2"
                        icon="pi pi-filter-slash"
                    ></button>
                </div>

                <div class="flex flex-column sm:flex-row">
                    <p-button
                        styleClass="w-full"
                        icon="pi pi-plus"
                        label="Novo"
                    />
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 20%; min-width: 5rem">Image</th>
                <th style="width: 40%; min-width: 7rem" pSortableColumn="name">
                    Name <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th style="width: 30%; min-width: 8rem" pSortableColumn="price">
                    Price <p-sortIcon field="price"></p-sortIcon>
                </th>
                <th style="width: 10%">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <img
                        [src]="product.image"
                        class="shadow-4"
                        alt="{{ product.name }}"
                        width="50"
                    />
                </td>
                <td>
                    {{ product.name }}
                </td>
                <td>
                    {{ product.price | currency: 'BRL' }}
                </td>
                <td>
                    <app-button-action-menu
                        [payload]="product"
                        (actionClick)="onClickActionMenu($event)"
                    />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
