<div class="layout-topbar">
    <a class="layout-topbar-logo w-auto mr-10" [routerLink]="['/main']" title="Logo">
        <img src="/assets/images/undraw_logo.svg" alt="Logo " class="h-4rem m-0" />
    </a>

    <!-- MENU TOGGLE -->
    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <!-- TOPBAR RIGHT SIDE -->
    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div
        #topbarmenu
        class="layout-topbar-menu"
        [ngClass]="{
            'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible,
        }"
    >
        @for (item of topbarMenuItems; track item) {
            <button
                class="p-link layout-topbar-button"
                [title]="item.title"
                [routerLink]="item.routerLink ? item.routerLink : null"
                (click)="clickOnTopMenuItem(item)"
            >
                <i class="{{ item.icon }}"></i>
                <span>{{ item.label }}</span>
            </button>
        }
    </div>
</div>
